.configuration-container {
  background-color: #475569;
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.heading {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Roboto';
}
.inputs-container {
  display: flex;
  flex-direction: column;
}
.input-container {
  margin-bottom: 15px;
  align-items: center;
}
.label {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  padding-left: 20px;
}